.footer {
    padding: 40px 0;
    background-color: #edf5ff;
}

.footer .footerContent .ftCol {
    padding: 20px;
}

.footer .footerContent .ftCol h3 {
    color: #2F5380;
    padding-bottom: 10px;
}

.footer .footerContent .ftCol button.btnRegis {
    font-weight: 500;
    border: 1px solid #2F5380;
}

.footer .footerContent .ftCol button.btnRegis:hover {
    background-color: #2F5380;
    color: #ffffff;
}

.footer .footerContent .ftCol .ftScocial i {
    display: inline-block;
    text-align: center;
    background: #2F5380;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.footer .footerContent .ftCol .ftScocial i:hover {
    background-color: #7e9ecf;
    transition: all 0.3s;
}
