.numbercounter .number__list .number__item p {
    font-size: 56px;
    font-weight: 400;
    background: linear-gradient(90deg, #136CB5, #49BBBD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
}

.numbercounter .number__list .number__item span {
    font-weight: 300;
}

.numbercounter .number__list .number__item:last-child {
    border-right: none;
}

@media screen and (max-width: 991px) {
    .numbercounter .number__list .number__item {
        border-right: none;
        padding: 10px 0;
    }

    .numbercounter .number__list .number__item p {
        font-size: 35px;
    }
}