.title1 {
    padding: 40px 0;
    background-color: #00CBB8;
}

.title1 .title_content {
    color: #ffffff;
    /* Replace $color-text-2 with the actual color code */
}

.title2 {
    padding: 20px 0;
    text-align: center;
}

.title2 .title_content {
    /* color: #3d3e5a; */
    color: #2F327D;
    font-size: 36px;
    font-weight: bold;
}

.title2 .title_content span {
    color: #00CBB8; 
}

/* Reponsive title */
@media screen and (max-width: 768px) {
    .title2 .title_content {
        font-size: 25px;
    }
}